
.repo-list-item {
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.navigation {
  padding-top: 30px !important;
}

.f6 {
  font-size: 12px!important;
}

.pointer{
  cursor: pointer;
  color: blue;
}