.search {
    padding: 25px 70px;
    &_input {
        width: 100%;
        .MuiInputBase-input {
            font-size: 26px;
            line-height: 26px;
            height: 26px;
            padding: 10px 0;
            &::placeholder {
                font-weight: 200;
            }
        }
    }
}

.topic-tag {
    display: inline-block;
    padding: .3em .9em;
    margin: 0 .5em .5em 0;
    white-space: nowrap;
    background-color: #f1f8ff;
    border-radius: 3px;
}

@media only screen and (max-width: 359px) {
    .search {
        &_input {
            .MuiInputBase-input {
                font-size: 24px;
            }
        }
    }
}